Welcome to {{ inventory_hostname }} - Managed by Ansible

Environment: {{ env_name | default('dev') }}
Date: {{ ansible_date_time.date }}  Time: {{ ansible_date_time.time }}

Have a great DevOps practice session, Sree!
