<!DOCTYPE html>
<html>
  <body>
    <h1>Welcome to Webserver (EC2)</h1>
    <p>Host: {{ inventory_hostname }}</p>
    <p>Environment: {{ env_name }}</p>
    <p>Deployed using Ansible Role</p>
  </body>
</html>
